In [6]:
from utils.read_data import read_revisions

In [7]:
file_path = '/work3/s204163/wiki/wiki-revisions-filtered.bz2'

In [8]:
N=100000

In [13]:
df_revisions = read_revisions(file_path, N=N)

In [14]:
# memory df_revisions
df_revisions.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   article_id     100000 non-null  int64
 1   revision_id    100000 non-null  int64
 2   user_id        100000 non-null  object
 3   article_title  100000 non-null  object
 4   timestamp      100000 non-null  datetime64[ns]
 5   username       100000 non-null  object
 6   category       100000 non-null  object
 7   main_linked    100000 non-null  object
 8   other_linked   100000 non-null  object
 9   comment        100000 non-null  object
 10  minor          100000 non-null  bool
 11  num_words      100000 non-null  int64
dtypes: bool(1), datetime64[ns](1), int64(3), object(7)
memory usage: 2.0 GB

In [23]:
df_revisions.columns

# new df with only the columns we need
# article_id revision_id user_id category
df_revisions = df_revisions[['article_id', 'revision_id', 'user_id', 'category']]

In [24]:
df_revisions.head()

   article_id  revision_id                       user_id category
0           6       233188            office.bomis.com\n       {}
1           6    133180191                     4477979\n       {}
2           8       233189  pD950754B.dip.t-dialin.net\n       {}
3           8    133180238                     4477979\n       {}
4          10       233192                          99\n       {}