In [19]:
from utils.read_data import read_revisions

In [20]:
file_path = '/work3/s204163/wiki/wiki-revisions-dataset.bz2'

In [21]:
df_revisions = read_revisions(file_path, N=10)

In [26]:
df_revisions

   article_id  revision_id                       user_id category
0           6       233188            office.bomis.com\n       {}
1           6    133180191                     4477979\n       {}
2           8       233189  pD950754B.dip.t-dialin.net\n       {}
3           8    133180238                     4477979\n       {}
4          10       233192                          99\n       {}
5          10    133180268                     4477979\n       {}
6          12        18201           Conversion_script\n       {}
7          12        19746              140.232.153.45\n       {}
8          12        19749               24.188.31.147\n       {}
9          12        20514               24.188.31.147\n       {}

In [23]:
df_revisions.columns

# new df with only the columns we need
# article_id revision_id user_id category
df_revisions = df_revisions[['article_id', 'revision_id', 'user_id', 'category']]

In [24]:
df_revisions.head()

   article_id  revision_id                       user_id category
0           6       233188            office.bomis.com\n       {}
1           6    133180191                     4477979\n       {}
2           8       233189  pD950754B.dip.t-dialin.net\n       {}
3           8    133180238                     4477979\n       {}
4          10       233192                          99\n       {}